<div class="inner cover">
  <h1 class="cover-heading">My Resume</h1>
  <p class="lead">My resume that tells you about me, my achievements, and my contact information</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>